/* General styling */
* {
  color: white;
}
.searchData {
  max-width: 100%;
}

.showArea1 {
  max-width: 100%;
  margin-top: 0;
}
.showArea {
  background: linear-gradient(to right, black, grey);
  padding: 13px;

  border-radius: 12px;
  max-height: 70vh;
  overflow-x: auto;
}
.titles ul,
.details {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between titles/data */
  gap: 1rem; /* Add gap between columns */
}

.titles ul li,
.details div {
  flex: 1; /* Make each column equal in width */
  text-align: center; /* Center align content */
}

.titles ul {
  margin-bottom: 0.5rem;
}

hr {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
}

.details {
  margin-bottom: 0.5rem;
}

/* Handle visibility of optional columns */
.none {
  display: none;
}
.hidden {
  display: none;
  margin: 0;
  padding: 0;
  height: 0;
}

/* Responsive design */
@media (max-width: 40em) {
  .titles ul li,
  .details div {
    font-size: 0.8rem; /* Smaller font size on small screens */
  }

  .titles ul,
  .details {
    gap: 0.5rem; /* Reduce gap for smaller screens */
  }
  .buyDate,
  .sellDate {
    display: none;
  }
  .showArea1 {
    max-width: 100%; /* Full width for smaller screens */
    margin-top: 12px;
  }
}
