.stockSellForm {
  display: flex;
  justify-content: center;
  color: white;
  height: 100%;
  width: 100%;
}
.container2 {
  background: linear-gradient(90deg, #bdc3c7, #2c3e50);
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.container2 form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30vw;
}
.container2 form div {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  gap: 1rem;
}
.container2 form div input {
  outline: none;
  padding: 5px;
  border-radius: 3px;
  width: 20rem;
}
label {
  width: 5rem;
}
.container2 form button {
  width: 6rem;
  font-weight: bolder;
  color: white;
  background: linear-gradient(to right, green, grey);
  padding: 15px 15px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.button2 {
  width: 60%;
  display: flex;
}

.quantity1 span {
  color: rgb(19, 166, 44);

  font-size: 1.2rem;
}
@media (max-width: 40em) {
  .container2 {
    width: 100%;
    height: 60%;
  }
  .container2 form {
    height: 100%;
    width: 100%;
    padding: 0 15px;
  }
  .stockSellForm {
    width: 100%;
    height: 100%;
  }
}
