.whole {
  background: linear-gradient(90deg, #bdc3c7, #2c3e50);
  height: 100%;
  min-height: 100vh;
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
}
.app {
  flex: 1;
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the parent element's color */
}
.footer {
  margin-bottom: 0px;
}
